#dataContainer {
  display: flex;
  align-items: flex-start;
}

#resultContainer {
  display: flex;
  width: 70%;
  border: 2px solid red;
}

#dataBox {
  padding: 10px;
  flex: 1;
}

#imageContainer {
  margin-left: 20px;
}

#resultImage {
  max-width: 100%;
}

.highlight-red {
  color: red;
  font-weight: bold;
}

.highlight-green {
  color: green;
  font-weight: bold;
}
